
@font-face {
    font-family: FuturaMedium;
    src: url(../fonts/FuturaMediumC.ttf);
}

@font-face {
    font-family: FuturaBold;
    src: url(../fonts/futura-bold.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSansLight;
    src: url(../fonts/2209.ttf);
}
